Click==7.0
Django==2.1.7
Flask==1.0.2
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
Pillow==6.0.0
pyparsing==2.4.0
pytz==2018.9
svgwrite==1.2.1
Tree==0.2.4
virtualenv==16.6.0
Werkzeug==0.14.1
WTForms==2.2.1