{% extends "layout.html" %}

{% block content %}
<h1>Generate a Sentence</h1>
<p>Enter some amount of large text (a book, news article) to generate a sentence.</p>
<p>*Enter at leat 100 characters but more is prefered</p>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>

        {{ form.book.label }}<br>
        {{ form.book(size=100, class_="form-control") }}<br>
        {% for error in form.book.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit(class_="btn btn-primary") }}</p>
</form>



{% endblock content %}